RUNPOD_API_KEY=your_runpod_api_key_here
AWS_ACCESS_KEY_ID=your_aws_access_key_id_here
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key_here
AWS_S3_BUCKET=your_s3_bucket_name_here
AWS_S3_REGION=eu-central-1

OPENROUTER_API_KEY=your_openrouter_api_key_here
